body{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}
.orange-color{
  color: orange;
}
h1{
  font-size: 50px;
}
p{
  font-size: 20px;
}
.link-button{
  text-decoration: none;
  color: white;
  background-image: linear-gradient(orange,tomato);
  background-color: orange;
  padding: 10px 20px;
  border-radius: 70px;
  box-shadow: 10px orange;
}
.flexible-container{
  display: flex;
  margin-bottom:150px;
  
}
.width{
  width:75%;
  padding-left: 2%;
}
.width img{
  width: 75%;
}
.banner{
  background-image: url(images/shapes/Frame\ 57.jpg);
  background-repeat: no-repeat;
}
.recipie-item{
  width: 20%;
  margin-left:5%;
  margin-right: 5%;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px gray;
  border-radius:30px;
  height:550px;
  width: 400px;
}
#recipe{
  height:300px;
  width:500;
  width:100%;
  padding-right:20px;
  border-radius: 20px;
}
#soup{
  height:300px;
  width:500;
  width:100%;
  padding-right:20px;
  border-radius: 20px;
}
#steak{
  height:300px;
  width:500;
  width:100%;
  padding-right:20px;
  border-radius: 20px;
}
footer{
  background-color: black;
  color: white;
  padding:50px;
}
#footer-tag{
font-size: 40px;
}